main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--yellow-light);
  gap: 1rem;
  min-height: calc(100vh - 90px);
  padding-bottom: 4rem;
}

.line-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  font-family: var(--font-asap);
  font-weight: 700;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}
li {
  position: relative;
  list-style-type: none;
  margin: 1rem;
  margin-left: 2rem;
}

li div:first-child {
  position: absolute;
  width: 5px;
  height: 2.5rem;
  background-color: red;
  transform: translateX(-1.5rem) translateX(100%) translateY(-25%);
}

li div:nth-child(2) {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  transform: translateX(-1.5rem);
  border: 2px solid var(--blue-dark);
}

.routes-container {
  display: flex;
  width: calc(100% - 2rem);
  padding: 0.5rem 0rem;
  gap: 0.5rem;
  overflow-x: scroll;
}

.route-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.route-from {
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
  color: var(--blue-dark);
}
