<main>
  <form [formGroup]="searchForm">
    <div class="form-field">
      <label for="form-from">Origen</label>
      <input
        type="text"
        id="form-from"
        formControlName="formFrom"
        list="data-list"
      />
    </div>
    <div class="form-field">
      <label for="form-to">Destino</label>
      <input
        type="text"
        id="form-to"
        formControlName="formTo"
        list="data-list"
      />
    </div>
    <button type="button" (click)="findGuaguas()">Buscar</button>
  </form>
  <div id="search-container">
    <a
      class="line"
      *ngFor="let line of foundGuaguas"
      [ngStyle]="{ 'background-color': line[3] }"
      >{{ line[0] }}</a
    >
  </div>

  <datalist id="data-list">
    <option *ngFor="let data of dataset" value="{{ data }}"></option>
  </datalist>
</main>
